NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
NHN_APP_KEY=
NHN_SECRET_KEY=
NHN_SENDER_KEY=
ANTHROPIC_API_KEY=
YOUTUBE_API_KEY=
